@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body{
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #001500;
    /* background: linear-gradient(to top right, #dddd19 0%, #489b42 80%, #0b5b05 100%); */
}


.heading{
    background: linear-gradient(to top right, #dddd19 30%, #489b42 60%, #0b5b05 100%);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;

    /* text-shadow: 0 5px 10px #dddd19; */
}

.spinner{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-right: 5px solid transparent;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.login{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, #FEA100 30%, #04ac3c);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__container{
    width: 400px;
    background-color: #fff;
    border-radius: 1rem;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__icon{
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999999px;
    background-color: #FEA100;
}
.login__error{
    color: red;
    text-align: center;
}

.login__form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login__form input{
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 0.5rem;
    border: 2px solid #ddd;
}
.login__form input:focus{
    outline: none;
    border: 2px solid #FEA100;
}
.login__form button{
    background-color: #FEA100;
    color: #fff;
    padding: 8px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

/* //////////////////////////////////////// Subscribers ////////////////////////////////////// */
/* /////////////////// loading /////////////////////// */
.subscriber__loading{
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.subscriber__loading__con{
    width: 100%;
    padding: 24px 12px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.subscriber__loading__text{
    font-size: 14px;
    color: #000;
    font-weight: 700;
    height: 20px;
    border-radius: 6px;
    width: 33.33%;
}



/* //////////////////////////////////////// Blog ////////////////////////////////////// */
/* /////////////////// loading /////////////////////// */
.blog__loading{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.blog__loading__con{
    width: 18rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    overflow: hidden;
}
/* ////////////////////////////////////////////////// */

.blog-modal-sanitized p{
    font-size: 18px;
    color: #000;
}
.blog-modal-sanitized a{
    color: #4eaee5;
}
.blog-modal-sanitized br{
    width: 100%;
    height: 1.2rem;
}

.blog-modal-sanitized h1{
    margin-bottom: 10px;
    font-weight: 500;
    color: #0b5b05;
}
.blog-modal-sanitized h2{
    margin-bottom: 10px;
    font-weight: 500;
    color: #0b5b05;
}
.blog-modal-sanitized h3{
    margin-bottom: 10px;
    font-weight: 500;
    color: #0b5b05;
}
.blog-modal-sanitized h4{
    margin-bottom: 10px;
    font-weight: 500;
    color: #0b5b05;
}
/* //////////////////////////////////////////////////////////////////////////////////// */


/* //////////////////////////////////////// Pagination ////////////////////////////////////// */
.pagination{
    width: fit-content;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.pagination__page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    border-radius: 50%;
    /* background-color: #489b42; */
    color: #000;
    margin: 0 5px;
    cursor: pointer;
}
.pagination__pageActive{
    background-color: #489b42;
    color: #fff;
}
.pagination__pagePrev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    border-radius: 50%;
    margin-right: 30px;
    background-color: #489b42;
    color: #fff;
    cursor: pointer;
}
.pagination__pageNext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    border-radius: 50%;
    margin-left: 30px;
    background-color: #489b42;
    color: #fff;
    cursor: pointer;
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////// background gradient loading animation  //////////////////////// */
.loading{
    background: linear-gradient( -45deg, #bbb 0%, #fff 49%, #fff 50%, #bbb 100%);
    background-size: 400% 400%;
	animation: gradient 2s ease infinite ;
}
.loading1{
    background: linear-gradient( -45deg, #bbb 0%, #fff 49%, #fff 50%, #bbb 100%);
    background-size: 400% 400%;
	animation: gradient 2s ease infinite ;
    animation-delay: .1s;
}
.loading2{
    background: linear-gradient( -45deg, #bbb 0%, #fff 49%, #fff 50%, #bbb 100%);
    background-size: 400% 400%;
	animation: gradient 2s ease infinite ;
    animation-delay: .2s;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 100% 100%;
    }
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */





/* ############################################  Media Queries    ############################################# */
@media only screen and (max-width: 599px){
    .sidebar{
        position: absolute;
        z-index: 1;
    }
    .blog{
        padding: 20px;
    }
    .top-section{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }
    .top-section-r{
        margin-top: 20px;
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .top-section-search{
        width: 100%;
    }
    .blog-card{
        flex-direction: column;
        width: 100%;
        height: 200px;
    }
    .blog-card img{
        width: 100%;
        height: 100px;
    }
    .pagination{
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 768px){
    .top-section{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }
    .top-section-r{
        margin-top: 20px;
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1000px){
    .top-section{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }
    .top-section-r{
        margin-top: 20px;
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
  }
/* ############################################################################################################# */