.auth{
  display: flex;
  overflow: hidden;
}
.container{
  height: 100vh;
  flex: 1;
  overflow-y: scroll;
}
.header{
  height: 4rem;
  width: 100%;
  position: relative;
}
.header__container{
  height: 100%;
  width: 50%;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  /* background: linear-gradient(to top right, #04ac3c, #FEA100); */
  background-color: #04ac3c;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.header__admin{
  position: relative;
  cursor: pointer;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__admin__icon{
  color: #fff;
  font-size: 40px;
}
.header__adminContent {
  display: none;
  overflow: hidden;
  padding: 20px 30px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%) translateX(-20%);
  background: #FEA100;
  border-radius: .4em;
  color: #fff;
  transition: .3s;
  z-index: 99999;
}
.header__admin:hover .header__adminContent{
  display: block;
}
.header__admin__btn{
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 8px 20px;
  border-radius: 6px;
  outline: none;
  border: none;
  background: #9b6200;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  transition: .3s;
}
.header__admin__btn:hover{
  background: #fff;
  color: #9b6200;
}

.sidebar{
  position: relative;
  width: 5rem;
  height: 100vh;
  margin: 0;
  border-top-right-radius: 0.375rem/* 6px */;
  border-bottom-right-radius: 0.375rem/* 6px */;
  background-color: #ac3852;
  transition: .3s;
}
.sidebar_open{
  width: 18rem;
}
.sidebar__toggle{
  background-color: #04ac3c;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 5rem;
  transform: translateX(50%);
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__toggle__icon{
  transition: .3s;
}
.sidebar__toggled{
  transform: rotate(180deg);
}
.sidebar__logo{
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 0.75rem;
}
.sidebar__logo img{
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  transition: .3s;
}

.sidebar__items{
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 1rem;
}
.sidebar__item{
  display: flex;
  height: 3rem;
  border-radius: 0.5rem;
  align-items: center;
  color: #fff;
  gap: 20px;
  transition: .3s;
}
.sidebar_open .sidebar__item{
  padding: 1rem;
}
.sidebar__item:hover{
  background-color: #04ac3c;
}
.sidebar__item__active{
  background-color: #04ac3c;
}

.footer{
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  color: #000000dd;
}
/* ///////////////////////////////////////////////////////////////////////////////////// */

.home{
  min-height: 100vh;
  padding: 4rem;
  padding-top: 1.25rem;
}

.top_section{
  width: 100%;
  height: 5rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading{
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0.75rem;
  color: #04ac3c;
  /* text-shadow: 0 0 3px #04ac3c, 0 0 3px #04ac3c, 0 0 3px #04ac3c; */
  /* background: linear-gradient(to top right, #04ac3c, #FEA100);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent; */
}
.top_section_r{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5rem;
}

/* #######################################  Mainbody   ############################ */
.mainbody{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mainbody__container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.mainbody__cards{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.mainbody__card{
  min-width: 18rem;
  min-height: 10rem;
  padding: 20px;
  border-radius: 0.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: .3s;
}
.mainbody__card:hover{
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
}
.mainbody__card h1{
  font-size: 3.75rem;
  color: #04ac3c;
  font-weight: 700;
}
.mainbody__card p{
  font-size: 1.5rem;
  color: #FEA100;
  text-align: center;
  font-weight: 300;
}



/* ############################################  Media Queries    ############################################# */
@media only screen and (max-width: 599px){
  .sidebar_open{
      position: absolute;
      z-index: 1;
  }
  .blog{
      padding: 20px;
  }
  .top_section{
      flex-direction: column;
      height: auto;
      align-items: flex-start;
  }
  .top_section_r{
      margin-top: 20px;
      width: 100%;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }
  .top_section-search{
      width: 100%;
  }
  .blog-card{
      flex-direction: column;
      width: 100%;
      height: 200px;
  }
  .blog-card img{
      width: 100%;
      height: 100px;
  }
  .pagination{
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px){
  .top_section{
      flex-direction: column;
      height: auto;
      align-items: flex-start;
  }
  .top_section_r{
      margin-top: 20px;
      width: 100%;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px){
  .top_section{
      flex-direction: column;
      height: auto;
      align-items: flex-start;
  }
  .top_section_r{
      margin-top: 20px;
      width: 100%;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }
}
/* ############################################################################################################# */